*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rowdies', cursive;
}
.navbar{
   gap: 10px;
    height: 80px;
    margin: 20px;
    border-radius: 16px;
    padding: 0.5rem;
    background-color:#265034 ;
    position: fixed;
}
.navbar-brand {
    font-weight: 500;
    color: #fff;
    font-size: 24px;
    transition: 0.3s color;
}
.navbar-nav .navbar-toggler{
  border:none ;
  font-size: 1.25rem;
  
 }
 .navbar-toggler:focus, .btn-close:focus{
   box-shadow:none;
   outline: none;
 }
 .nav-link:hover, .nav-link.active{
   color: #b55b00;
 }
.navbar-nav .nav-link{
  color: #fff;
  padding: 25px;
  text-align: center;
  text-decoration: none;
  }
   .nav-link  i{
    color: #fff;
     padding-right: 10px;
  }

 /* Styles de base pour la navbar */
 .navbar {
  
  padding: 1rem;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar-toggler {
  display: flex;
}
@media (min-width: 991px){
  .nav-link::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
  }
  .nav-link{
    color: #000;
  }
  .nav-link:hover::before , .nav-link.active::before{
    width: 100%;
    visibility: visible;
    
  }
  
   }/*Responsive: table sur petits écrans */
  @media (max-width: 768px) {
    .navbar-nav .nav-link{
      color: #000;
      }
  }
  @media (min-width: 375px){
    .navbar{
      content: "";
      position: absolute;
      bottom: 0;
     
    }
  }
  /* start section accueil vétérinaire */

/* start accueil employe */
.body-employe-accueil{
  font-family: Arial, sans-serif;
  color: #333;
  background-image: url(/images/elefant.jpg);
  background-size: cover;
}
.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 100px);
  padding: 20px;
}
.welcome-employe {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 700px;
}

.header-employe h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.welcome-text-employe {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

 .welcome-text-employe h2{
  font-size: 1.8em;
  color: #2980b9;
  margin-bottom: 10px;
}
.welcome-text-employe p {
  line-height: 1.6;
  margin-bottom: 10px;
  font-size: 1.1em;
}
 
   /*Responsive: table sur petits écrans acceuil employée */
   @media (max-width: 768px) {
    /* start accueil employe */
 .body-employe-accueil{
  margin-top: 60px;
}
  }
  
  
/* end section accueil employe */
.body-employe{
    background-image: url(/images/lionn.jpg);
    background-size: cover;
    width: 100%;
    height: 100vh;

}
/* services body employe */
.service_body_emp{
  background-image: url(/images/gepart.jpg);
  background-size: cover;
  width: 100%;
  height: 100vh;

}
/* body avis employee */
.body-avis-emp{
  background-image: url(/images/flamarose.jpg);
  background-size: cover;
  width: 100%;
  height: 100vh;

}

.link_container {
    margin-bottom: 20px;
    align-items: center;
    margin-left: 75px;
   
  }
  
  .link {
      background-color: #d9b76f;
      padding: 10px 20px;
      color: #fff;
      border-radius: 6px;
      text-decoration: 0;
    
  }
.ajouter-c {
    font-size: 25px;
    color: #fff;
  text-align: center;
   padding-top:200px ;
   font-weight: bold;
}
/* div from table ajout aliment employe */
.from-table-aliment{
margin-block-end: 80px;

}
/* fin div */
  form {
    width: 400px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 30px;
    border-radius: 6px;
    font-size: 14px;
    margin-left: 600px;
    margin-top: 80px;
    
    
}
form input {
    margin: 8px 0;
    padding: 15px;
    border: 1px solid #999;
    border-radius: 3px;
    outline: 0;
}
form input[type="submit"]{
   cursor: pointer;
    background-color:#b55b00 ;
    color: #fff;
    border: 1px solid #6F7BD9;

}
.back {
  padding: 15px;
  text-align: center;
  border-radius: 3px;
  margin-top: 8px;
}
/* start table services */
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
nav ul li {
    margin-left: 20px;
}

  
  table {
    box-shadow: 0 0 3px rgba(0,0,0,0.2);
    border-collapse: collapse;
    width: 180vh;
    table-layout: fixed;
    border-radius: 10px;
    overflow: hidden;
    margin-left: 80px;
    margin-block-end: 80px;
  }
  
  table  a{
    text-align: center;
  }
  .image {
    text-align: center;
  }

  
  table tr {
    background-color: #f8f8f8;
    border-bottom: 1px solid #ddd;
    
  
  }
th , td {
 padding: 20px;
 text-align: center;
 overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
       
}
.message {
    width: 100%;
    padding: 10px;
    text-align: center;
    border-radius: 6px;
    margin: 5px 0;
    color: #fff;
}
 /* start section avis visiteur */
 .avis-h1{
    color: #fff;
    text-align: center;
 }
 /* start table alimentation body */
 .body-alimentation-emp{
  background-image: url(/images/monkeys.jpg);
  background-size: cover;
 }
 /* end table alimentation body */
.table-avis{
 margin-inline-end: 80px;
  padding-inline-end: 80px;
}
/* Responsive: table sur petits écrans */
@media (max-width: 768px) {
  /* Activer le défilement horizontal sur petits écrans*/ 
  table {
     margin: auto;
  }
  .main-aliment table{
    width: 100%;
    position: relative;
   top: 40px; right: 30px; 
   }
   table {
     margin: auto;
     width: 60%;
  }
  /* Colonnes plus compactes pour petits écrans */
  th, td {
      padding: 10px;
      font-size: 12px;
  }

  /* Supprimer certaines bordures pour alléger visuellement */
  table tr {
      border-bottom: 1px solid #ddd;
  }


/* Style des messages et du formulaire */
.message {
  width: 80%;
  padding: 10px;
  text-align: center;
  border-radius: 6px;
  margin: 5px 0;
  color: #fff;
}
/* Colonnes plus compactes pour petits écrans */
th, td {
  padding: 10px;
  font-size: 12px;
}

/* Supprimer certaines bordures pour alléger visuellement */
table tr {
  border-bottom: 1px solid #ddd;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  width: 100%;
  ;
}
table {
  box-shadow: 0 0 0px rgba(0,0,0,0.2);
  width: 80%;
  border-radius: 0;
margin-left: 20px;
}

table caption {
font-size: 1.3em;
}



table tr {

display: block;
margin-bottom: 10px;
border-radius: 6px;
}

table td {
border-bottom: 1px solid #ddd;
display: block;
font-size: .8em;
  border: 1px solid rgb(158, 231, 236);

}
table td::before {
content: attr(data-label);
/* float: left; */
font-weight: bold;
text-transform: uppercase;
}

table td:last-child {
border-bottom: 0;
}
th , td {
  text-align: unset;
  padding: 15px;
 }
 .image{
  text-align: unset;
 }
}
/*fin section responsive */

